body {
    min-width: 350px;
    margin: 0;
    padding: 0;
    background-image: url("../img/SniperInForrest2.0.jpg");
    background-size: cover;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A); /* Set the gradient color */
    border-radius: 10px;
    cursor: pointer;
}

/* Scrollbar track background */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.9); /* Light background for the track */
    cursor: pointer;
}